<div class="container py-5">
  <h3 class="mb-3">ノート一覧</h3>
  <div class="row">
    <% @notes.each do |note| %>
      <div class="col-md-6 col-lg-4 mb-3">
        <!--<a href="<%= note_path(note.id) %>">-->
          <div class="card">
            <%= link_to (image_tag 'top/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg', class: 'img-fluid note-img'), note_path(note.id) %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to note.title.truncate(10), note_path(note.id) %></h5>
              <p class="card-text"><%= note.contents.truncate(20) %></p>
            </div>
          </div>
        <!--</a>-->
      </div>
    <% end %>
  </div>
</div>
