<div class="container py-5">
  <h3 class="mb-3"><i class="fa-solid fa-tags mr-2"></i> レシピタグ</h3>
  <div class="tags">
    <ul class="list-unstyled d-flex flex-wrap">
      <% @tags.each do |tag| %>
        <li class="mb-2"><span class="badge badge-secondary p-2"><%= link_to tag.name, recipes_path(tag_id: tag), class: 'text-white' %></span></li>
      <% end %>
    </ul>
  </div>

  <h3 class="mt-2 mb-3"><i class="fa-solid fa-mug-hot mr-2"></i> レシピ一覧</h3>
  <div class="row my-3">
    <div class="col-md-4">
      <%= form_tag(recipes_path, method: :get) do %>
        <%= select_tag :sort,
                  options_for_select(
                    [
                      ['投稿新しい順', 'recipe_latest'],
                      ['投稿古い順', 'recipe_oldest'],
                      ['評価順', 'evaluation']
                    ], params[:sort]),
                    {
                      include_blank: '並び替え',
                      class: 'form-control',
                      onchange: 'submit(this.form)'
                    }
        %>
      <%end %>
    </div>
  </div>
  <%= render 'index', recipes: @recipes %>
</div>
