<p id="btn" class="position-fixed btn btn-secondary rounded-circle m-0">
  <i class="fa-solid fa-pen-to-square fa-fw fa-2x"></i>
</p>
<p class="balloon position-fixed">
  <span>
    <%= link_to 'レシピを投稿する', new_recipe_path, class: 'text-white' %><br>
    <%= link_to 'アイテムを投稿する', new_equipment_path, class: 'text-white' %><br>
    <%= link_to 'ノートを投稿する', new_note_path, class: 'text-white' %>
  </span>
</p>

<script>
  //投稿ボタンがスクロール高でフッターに固定される
  $(window).scroll(function (){
    var pos = ($(window).scrollTop() + window.innerHeight) - $("footer").offset().top;
    if (pos <= 0) {
      $("#btn").css("bottom", "10px");
      $(".balloon").css("bottom", "70px");
    } else {
      $("#btn").css("bottom", (pos + 10) + "px");
      $(".balloon").css("bottom", (pos + 60) + "px");
    }
  })

  $(window).on('load resize', function () {
    if (window.innerHeight > $("footer").offset().top) {
      var pos = window.innerHeight - $("footer").offset().top;
      $("#btn").css("bottom", (pos + 10) + "px");
      $(".balloon").css("bottom", (pos + 60) + "px");
    }
  })

  $(function() {
  $(".balloon").after().hide();
  $("#btn").click(function() {
  $(".balloon").toggleClass("open").slideToggle("normal", function() {
      $("body,html").scrollTop();
    });
  });
});
</script>